.container {
    padding-top: 50px;
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

  .score {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #2A77AE;
    margin-bottom: 50px;
  }